.postPage {
  min-height: calc(100dvh - 70px - 5%);
}

.error {
  color: red;
  text-align: center;
  margin-top: 50px;
}

.section__title {
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
}
